@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    height: 100vh;
    font-family: Inter, sans-serif;
}

/*corner gradients */
body::before,
body::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background: radial-gradient(ellipse at top right, #37A9FC 0%, #ffffff 70%);
    top: 0;
    right: 0;
    z-index: -1;
}

body::after {
    background: radial-gradient(ellipse at bottom left, #37A9FC 0%, #ffffff 70%);
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: -1; 
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo {
    max-width: 40%;
    height: auto;
    display: block;
    margin-left: 50px;
}

#cb-title {
    font-size: 70px;
    font-weight: 700;
    margin-top: 20px;
}

#subtitle {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 125px;
}

#start-now-button {
    padding: 10px 40px; 
    font-size: 50px; 
    font-weight: 700;
    color: #000000; 
    border: 5px solid #0094FF; 
    border-radius: 50px; 
    margin-bottom: 30px; 
    text-decoration: none;
}

#down-arrow-container {
    text-align: center;
    margin-top: 20px;
}

#down-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #000;
    cursor: pointer;
}

.navbar{
    position: absolute;
    height: 80px;
    width: 100%;
    background: #0D99FF;
    display: flex;
    align-items: center;
}

.fixed-navbar {
    position: fixed;
    top: 0;
}

#status-text{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-left: 75%;
}

.switch-container{
    margin-top: 5px;
    flex:1;
}

.switch {
	width: 160px;
	margin: 35px;
	position: relative;
	border-radius: 30px;
	background: white;
    display: flex;
    justify-content: space-evenly;
    border: 4px solid #000000;
}

#toggle-color {
	left: 76px;
	top: -4px;
	position: absolute;
	width: 80px;
	height: 100%;
	background: #E84C3D;
	border-radius: 30px;
	transition: .5s;
    border: 4px solid #000000;
}

#on-btn, #off-btn {
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
    font-size: 30px;
    font-weight:600;
}

#off-btn{
    color:white;
}

.controls-container{
    padding:30px;
    font-size: 25px;
    font-weight: 600;
}

.controls{
    margin-bottom:25px;
}

#channel-name-input, #threshold-value-input, textarea{
    margin:75px 0 0 50px;
    width:150px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    border: 2px solid #000000;
	outline: none;
}

.threshold-container{
    display: flex;
    align-items: center;
}

#threshold-slider{
    margin: 30px 10px;
    width: 350px; 
}

#threshold-value-input{
    margin-top: 0px;
    width: 75px;
}

.speakers-container, .hashtags-container{
    width: 50%;
    padding: 20px 10px;
}

textarea{
    line-height: 35px;
    color: #000000;
    margin: 5px;
    resize: none;
    min-width: 175px;
    padding: 2px 30px ;
}

.width-measure {
    position: absolute;
}

#cross-icon{
    color: #b7b7b7;
    font-size: 30px;
    position: absolute;
    transform: translateX(-200%) translateY(40%);
    margin: 0 -100;
}

#plus-icon{
    transform: translateY(-40%);
    margin-top: 20px;
}